@media screen and (max-width: 1300px) {
  .weekly__list {
    gap: 10px;
    grid-auto-columns: calc((100% / 3));
  }
}

@media screen and (max-width: 1020px) {
  .section-title {
    font-size: 32px;
  }

  .nav {
    &__box {
      display: none;
    }

    &__links {
      width: 100%;
      justify-content: space-between;
    }

    &__logo {
      span {
        display: block;
      }
    }
  }

  .home__button {
    margin-right: 16px;
  }

  .btn-black {
    padding: 12px 20px;
    font-size: 13px;
  }

  .btn-simple {
    padding: 12px 20px;
    font-size: 13px;
  }

  .weekly__list {
    max-width: 100%;
    grid-auto-columns: 300px;
  }
}

@media screen and (max-width: 990px) {
  .home {
    padding-top: 160px;
    padding-bottom: 90px;

    &__container {
      flex-direction: column;
      align-items: center;
    }

    &__data {
      max-width: 100%;
      text-align: center;
    }

    &__subtitle {
      justify-content: center;

      span {
        display: block;
      }

      &::before {
        width: 10%;
        margin: 0;
        margin-right: 18px;
      }
    }

    &__title {
      max-width: 80%;
      margin: 0 auto;
      font-size: 53px;
      line-height: 64px;
      margin-bottom: 11px;
    }

    &__description {
      font-size: 15px;
      width: 60%;
      margin: 0 auto;
      margin-bottom: 42px;
    }

    &__buttons {
      justify-content: center;
      margin-bottom: 19px;
    }

    &__statistics {
      display: none;
    }

    &__trustpilot {
      display: flex;
      justify-content: center;
      margin-bottom: 60px;
    }

    &__images {
      max-width: 700px;
      width: 100%;
      overflow: hidden;
      margin: 0 auto;
    }
  }

  .marketplace__list {
    justify-content: center;
  }
}

@media screen and (max-width: 650px) {
  .marketplace {
    padding-top: 20px;

    &__title {
      margin-bottom: 30px;
    }

    &__buttons {
      flex-wrap: wrap;
      justify-content: center;
      gap: 8px;
      margin-bottom: 50px;
    }

    &__btn {
      font-size: 10px;
      padding: 10px;

      &:first-child {
        display: none;
      }

      img {
        width: 20px;
        height: 20px;
      }
    }

    &__item {
      width: 70% !important;
    }

    &__item .weekly__item-img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 590px) {
  .nav {
    border-bottom: 1px solid var(--border-color);

    &__menu {
      display: block;
    }

    &__list {
      position: absolute;
      top: -300%;
      left: 0;
      right: 0;
      flex-direction: column;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
      width: 90%;
      padding: 30px;
      border-radius: 12px;
      transition: all 0.5s ease;
      z-index: 99;
      margin: 0 auto;
      background: var(--body-color);
    }
  }

  .home {
    &__description {
      font-size: 13px;
    }

    &__arrow-buttons {
      left: 120px;
    }
  }

  .weekly {
    padding: 60px 0;

    &__title {
      margin-bottom: 30px;
    }

    &__list {
      grid-auto-columns: 200px;
    }

    &__item {
      width: 200px;
    }

    &__item-hours {
      padding: 5px;
      right: 22px;

      p {
        font-size: 10px;
      }
    }

    &__item-button {
      padding: 10px;
      font-size: 10px;
    }
  }

  .collection {
    padding-top: 100px;

    &__subtitle:first-child {
      width: 85px;
    }

    &__user {
      width: 105px;
    }

    &__img {
      width: 35px;
      height: 35px;
      margin-right: 8px !important;
    }

    &__name {
      font-size: 15px;
    }

    &__username {
      font-size: 13px;
    }

    &__view-all {
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 440px) {
  .home {
    &__title {
      max-width: 100%;
      font-size: 47px;
    }

    &__description {
      width: 100%;
      font-size: 11px;
    }

    &__images {
      background-position: 225px 40px;
      background-size: 58px;
    }

    &__images-list {
      margin: 0;
    }

    &__images-item img {
      max-width: 208px;
      height: 210px;
    }

    &__arrow-buttons {
      top: 50%;
      left: 50px;
    }

    &__arrow-btn {
      padding-left: 18px;

      img {
        height: 15px;
      }

      &:first-child {
        padding-right: 18px;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .home {
    &__title {
      font-size: 40px;
      line-height: 50px;
    }

    &__description {
      text-align: center;
      width: 100%;
    }
  }

  .btn-black {
    padding: 10px 10px;
    font-size: 12px;
    font-weight: 500;
  }

  .btn-simple {
    padding: 10px 10px;
    font-size: 12px;
    font-weight: 500;
  }
}