.section-title {
  font-weight: 600;
  font-size: 45px;
  line-height: 44.75px;
  margin-bottom: 60px;
  color: var(--first-color);
}

.section-subtitle {
  font-weight: 600;
  font-size: 45px;
  line-height: 26.92px;
  color: var(--sub-title);
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn-black {
  display: inline-block;
  border-radius: 12px;
  padding: 18px 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24.41px;
  letter-spacing: 1%;
  border: 2px solid transparent;
  color: var(--body-color);
  background: var(--first-color-dark);
  text-transform: uppercase;
  transition: all 0.5s ease;
  cursor: pointer;

  &:hover {
    border-color: var(--first-color-dark);
    color: var(--first-color-dark);
    background: transparent;
  }
}

.btn-simple {
  display: inline-flex;
  align-items: center;
  border-radius: 12px;
  padding: 18px 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24.41px;
  color: var(--first-color-dark);
  border: 2px solid var(--first-color-dark);
  text-transform: uppercase;
  transition: all 0.5s ease;
  cursor: pointer;

  &:hover {
    background: var(--first-color-dark);
    color: var(--body-color);
  }

  img {
    margin-right: 10px;
  }
}

.arrow__buttons {
  display: inline-flex;
  align-items: center;
  padding: 15px 20px;
  background: #fff;
  border-radius: 17px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.arrow__button {
  padding-right: 30px;
  border: none;
  background: transparent;
  cursor: pointer;

  &:last-child {
    padding-right: 0;
    padding-left: 30px;
    border-left: 2px solid var(--border-color);
  }
}

.arrow__button img {
  width: 20px;
  height: 20px;
}

.plus {
  color: greenyellow;
}

.minus {
  color: red;
}